.wrapper {
    min-height: 100vh;
    display: flex;
    font-family: 'Festive', cursive;

}
@media screen and (max-width: 400px){
    .wrapper{
        flex-wrap: wrap;
    }
}

.wrapper.cold{
    background-color: #93b0d0;
}

.wrapper.hot{
    background-color: #c5af7d;
}

.content{

}

.leftSide{
    width: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}
.temp{
    font-family: 'Festive', cursive;
    font-size: 32px;
}
.temp span{
    font-size: 60px;
}

.rightSide{
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    text-align: center;
}



img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.fomSearch{
    font-size: 70px;
}

.fomSearch input{
    background-color: navajowhite;
    border-radius: 30px;
}
.fomSearch button{
    border-radius: 30px;
    background-color: navajowhite;
}

.errors{
    font-size: 30px;
    max-width: 250px;
}