.wrapper {
    min-height: 100vh;
    display: flex;
    font-family: 'Bauhaus 93', cursive;
}

@media screen and (max-width: 679px ){
    .wrapper{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
}


.wrapper.cold{
    background-color: #93b0d0;
}

.wrapper.hot{
    background-color: #c5af7d;
}

.content{

}

.leftSide{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp{
    font-size: 30px;
    font-family: 'Bauhaus 93', cursive;
}
.temp span{
    font-size: 30px;
}

.rightSide{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    text-align: center;
}



img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.fomSearch{
}

.fomSearch input{
    padding: 7px;
    background-color: navajowhite;
    border-radius: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    font-family: 'Bauhaus 93', cursive;
}
.fomSearch button{
    padding: 7px;
    border-radius: 30px;
    background-color: navajowhite;
    font-family: 'Bauhaus 93', cursive;
    cursor: pointer;
}

.errors{
    font-size: 30px;
    max-width: 250px;
}